{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
  {% if app.user is null %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %} 
  {% else %}
    <b> Hi {{ app.user.username }} </b>
	       <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                </a>
  {% endif %}
{% endblock fos_user_content %}
