<div class="fos_user_user_show">
    <p><b>{{ 'Username'|trans({}, 'FOSUserBundle') }}:   {{ user.username }}</b></p>
    <p><b>{{ 'Email'|trans({}, 'FOSUserBundle') }}:   {{ user.email }}</b></p>
</div>
