{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>{{ 'please check your email for confirmation'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}
