<div class="password_reset">
	<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
		{{ form_widget(form) }}
		<div class="reset_btn">
			<input type="submit" value="{{ 'submit'|trans({}, 'FOSUserBundle') }}" />
		</div>
	</form>
</div>